section {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
}
section .border {
	padding: 50px;
	border: 2px black solid;
}
section div div input {
	width: 20px;
	height: 20px;
}
#btn {
	width: 70px;
	height: 30px;
	margin-top: 10px;
	color: white;
	background: black;
}
